In [11]:
#Q1.Create one variable containing following type of data : (i) string (ii) list (iii) float (iv) tuple
a = "Ajay"
b = [12,45,"Sah",True,"abc"]
c = 15.89
d = (20 , "jay" , 34+4j , [12,45,56] )

In [12]:
type(a)

str

In [13]:
type(b)

list

In [14]:
type(c)

float

In [15]:
type(d)

tuple

In [ ]:
#Q2.Given are some following variables containing data: (i) var1 = ‘ ‘ (ii) var2 = ‘[ DS , ML , Python]’ (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] (iv) var4 = 1. What will be the data type of the above given variable.

In [16]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [17]:
type(var1)

str

In [18]:
type(var2)

str

In [19]:
type(var3)

list

In [20]:
type(var4)

float

In [21]:
#Q3.Explain the use of the following operators using an example: (i) / (ii) % (iii) // (iv) **

In [23]:
# / is the division operator
45 / 2

22.5

In [25]:
# % is the modulus operator tell us the remainder of the division
45 % 2

1

In [26]:
# // is the floor division returns the floor value after division
69 // 2

34

In [27]:
# ** is the power operator 
2 **3

8

In [ ]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [32]:
l = [56,47,"grapes","mango",638,92,12,"metals",63,"sweet"]

In [30]:
len(l)

10

In [33]:
for i in l:
    print("Element : ",i,"\nData Type :",type(i))
    
else:
    print("Sucessfuly iterated across all the elements")

Element :  56
Data Type : <class 'int'>
Element :  47
Data Type : <class 'int'>
Element :  grapes
Data Type : <class 'str'>
Element :  mango
Data Type : <class 'str'>
Element :  638
Data Type : <class 'int'>
Element :  92
Data Type : <class 'int'>
Element :  12
Data Type : <class 'int'>
Element :  metals
Data Type : <class 'str'>
Element :  63
Data Type : <class 'int'>
Element :  sweet
Data Type : <class 'str'>
Sucessfuly iterated across all the elements

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [35]:
a=52
b=13


while a%b==0 :
    print(a," is purely divisible by " , b ," and is divisible " ,int((a/b)), " times")
    break
    
else:
    print(a ,"is not purely divisible by " ,b)

52  is purely divisible by  13  and is divisible  4  times

In [ ]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [36]:
for i in range(1,26) :
    if (i%3 == 0):
        print(f"{i} is divisible by 3")
    else : 
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable objects can be modified after its created whereas immutable objects cannot be modified once created.

In [37]:
name = "Ajay"

In [38]:
list = [12,"apple","kiwi","mango",10]

In [39]:
name[2]

'a'

In [40]:
list[0]

12

In [41]:
list[0] ="pear" #lists are mutubale objects

In [42]:
list

['pear', 'apple', 'kiwi', 'mango', 10]

In [43]:
name[2]='n' #strings are immutable objects thats why there is error when we try to chnage the index value however we can modify value by using string functions

TypeError: 'str' object does not support item assignment