In [ ]:
#Q1. How do you comment code in Python? What are the different types of comments?

In Python, we comment code by using the # symbol. Anything following # on the same line is considered a comment and is ignored by the Python interpreter.

There are two main types of comments in Python:

1. Single-Line Comments
Single-line comments start with a # symbol and continue to the end of the line.
Anything following the # on that line is ignored by the Python interpreter.

In [ ]:
Example:

In [1]:
# This is a single-line comment
x = 5  # This comment is inline with code

2. Multi-Line Comments
Python does not have a built-in multi-line comment syntax like some other languages. However, you can create multi-line comments by using multiple single-line comments or using triple quotes (although the latter is technically a string, not a comment).
a. Multiple Single-Line Comments:

Use # at the beginning of each line.

Example:

In [3]:
# This is a multi-line comment
# written using multiple single-line comments

b. Triple-Quoted Strings:

Triple quotes (''' or """) can be used to create multi-line string literals. When not assigned to a variable, these can serve as a block comment, although technically they are string literals and not comments.
Example:

In [2]:
"""
This is a multi-line comment
using triple quotes. Technically,
this is a string literal, but it can be
used as a comment.
"""

'\nThis is a multi-line comment\nusing triple quotes. Technically,\nthis is a string literal, but it can be\nused as a comment.\n'

Q2. What are variables in Python? How do you declare and assign values to variables?

A variable in Python is a name that is used to refer to memory locations where data is stored. Variables act as containers for storing data values.

Declaring and Assigning Values to Variables
In Python, we do not need to explicitly declare a variable before assigning a value to it. The declaration happens automatically when we assign a value to a variable.

1. Variable Declaration and Assignment
Syntax:
variable_name = value

In [4]:
x = 10          # x is a variable storing the integer value 10
name = "Ajay"  # name is a variable storing the string "Ajay"

2. Variable Naming Rules
Variable names must start with a letter (a-z, A-Z) or an underscore (_).
The rest of the name can include letters, numbers (0-9), or underscores.
Variable names are case-sensitive (name, Name, and NAME are different variables).
Avoid using Python reserved keywords as variable names (e.g., class, def, if, etc.).

Examples of valid variable names:

In [6]:
age = 24
_total = 100
first_name = "Ajay"

Examples of invalid variable names:

In [7]:
1st_place = "Winner"   # Invalid: starts with a number
total$amount = 100.50  # Invalid: contains a special character ($)

SyntaxError: invalid decimal literal (2419192825.py, line 1)

3. Multiple Assignments

In [9]:
a, b, c = 5, 10, 15      #we can assign values to multiple variables in a single line
x = y = z = 20           #Or assign the same value to multiple variables

Q3. How do you convert one data type to another in Python?

In Python, we can convert one data type to another using type conversion functions. These functions allow we to explicitly change the type of a variable or value.

Common Type Conversion Functions:

1.  'int()': Converts a value to an integer.

In [10]:
x = int(3.5)  # x becomes 3
y = int("10") # y becomes 10

2.  'float()': Converts a value to a floating-point number.

In [11]:
x = float(3)      # x becomes 3.0
y = float("4.5")  # y becomes 4.5

3.  'str()': Converts a value to a string.

In [12]:
x = str(100)  # x becomes "100"
y = str(4.5)  # y becomes "4.5"

4.  'bool()': Converts a value to a boolean (True or False).

In [13]:
x = bool(1)      # x becomes True
y = bool(0)      # y becomes False
z = bool("")     # z becomes False

5.  'list()': Converts a value to a list.

In [14]:
x = list("abc")  # x becomes ['a', 'b', 'c']
y = list((1, 2, 3))  # y becomes [1, 2, 3]

6.  'tuple()': Converts a value to a tuple.

In [15]:
x = tuple([1, 2, 3])  # x becomes (1, 2, 3)
y = tuple("abc")       # y becomes ('a', 'b', 'c')

7.  'set()': Converts a value to a set.

In [16]:
x = set([1, 2, 2, 3])  # x becomes {1, 2, 3}
y = set("hello")        # y becomes {'h', 'e', 'l', 'o'}

8.  'dict()': Converts a sequence of key-value pairs to a dictionary.

In [17]:
x = dict([('a', 1), ('b', 2)])  # x becomes {'a': 1, 'b': 2}

In [18]:
# Convert float to int
a = 3.14
b = int(a)  # b becomes 3

# Convert int to string
c = 100
d = str(c)  # d becomes "100"

# Convert string to float
e = "12.34"
f = float(e)  # f becomes 12.34

# Convert list to tuple
g = [1, 2, 3]
h = tuple(g)  # h becomes (1, 2, 3)

Q4. How do you write and execute a Python script from the command line?

To write and execute a Python script from the command line, follow these steps:

1. Write a Python Script
Create a new text file with a .py extension using a text editor (e.g., Notepad, VS Code, Sublime Text).
Write your Python code in the file.
Example:

python
Copy code
# hello.py
print("Hello, World!")
2. Save the Python Script
Save the file with a .py extension (e.g., hello.py).
3. Open the Command Line Interface
Windows: Open the Command Prompt (CMD) or PowerShell.
macOS/Linux: Open the Terminal.
4. Navigate to the Directory Containing the Script
Use the cd command to change the directory to the location where your script is saved.
Example:

bash
Copy code
cd path/to/your/script
If your script is saved on the Desktop, you might use:

bash
Copy code
cd Desktop
5. Execute the Python Script
Once you’re in the directory where your script is located, run the script by typing python (or python3, depending on your Python installation) followed by the script’s filename.
Example:

bash
Copy code
python hello.py
Or if you’re using Python 3 specifically:

bash
Copy code
python3 hello.py
After running the command, you should see the output in the command line:

bash
Copy code
Hello, World!
6. Verify Python Installation (Optional)
If you’re unsure whether Python is installed, you can check by running:
bash
Copy code
python --version
If Python 3 is installed as python3, you can check by running:
bash
Copy code
python3 --version

In [20]:
# hello.py
print("Hello, World!")

Hello, World!

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

To obtain the sub-list [2, 3] from my_list = [1, 2, 3, 4, 5], you can use list slicing in Python.

Slicing Syntax:
python
Copy code
sub_list = my_list[start_index:end_index]
start_index: The index where the slice starts (inclusive).
end_index: The index where the slice ends (exclusive).
Code to Slice the List:

In [21]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)  # Output: [2, 3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex Numbers in Mathematics
A complex number is a number that has both a real part and an imaginary part. It is typically written in the form:
z=a+bi
a is the real part.
b is the imaginary part.
i is the imaginary part.
Representation of Complex Numbers in Python
In Python, complex numbers are represented using the complex data type. The syntax for defining a complex number is:
z = a + bj
a and b are real numbers.
j is used to represent the imaginary unit (not i as in mathematics).

In [22]:
z = 3 + 4j  # z is a complex number with real part 3 and imaginary part 4

In [27]:
z = 3 + 4j
real_part = z.real       # real_part is 3.0
imaginary_part = z.imag  # imaginary_part is 4.0

In [29]:
z1 = 3 + 4j
z2 = 1 + 2j

# Addition
result = z1 + z2  # result is (4+6j)

# Multiplication
result = z1 * z2  # result is (-5+10j)

# Conjugate
conjugate = z1.conjugate()  # conjugate is (3-4j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [33]:
#The correct way to declare a variable named age and assign the value 25 to it in Python is:

In [34]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

We can declare a variable named price and assign the value 9.99 to it as follows:

In [35]:
price = 9.99

Data Type:
The data type of the variable price is float, which represents a floating-point number (a number with a decimal point).

In [36]:
price = 9.99  # Declare the variable 'price' and assign the value 9.99

# Print the value and data type of 'price'
print("Price:", price)
print("Data type of 'price':", type(price))

Price: 9.99
Data type of 'price': <class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [39]:
name = "AJAY SAH"
print(name)

AJAY SAH

Q10. Given the string "Hello, World!", extract the substring "World".

In [40]:
original_string = "Hello, World!"
substring = original_string[7:12]
print(substring)  # Output: World

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [41]:
is_student = True  # Change to False if you are not a student
print(is_student)  # Output will be True or False based on the value assigned

True